* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
    width: 600px;
    height: 600px;
    background: blue;
   margin-top: 20px;
   margin-left: 20px;
}

@media screen and (max-width: 600px)  and (orientation: landscape){
    div {
        background: red;
        width: 200px;
        height: 200px;
    }
}
 /* @media (min-width: 600px){
    div {
        background: red;
    }
 } */