* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: calc(50vh + 200px);
  height: calc(100vh - 200px);
  background: #ff1493;
  padding: 50px;
  color: white;
  font-size: 30px;
  padding: 12px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}
