
    h1 {
        color: red;
        background: black;
    }

    p {

        color: blue;
        font-size: 16px;
    }

    button {

        color: white;
        background: green;
        border-color: black;
        
    }
